AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

FABRIC_WORKSPACE_ID=
FABRIC_LAKEHOUSE_ID=
FABRIC_CAPACITY_NAME=fabric-retail-capacity-dev

ADLS_ACCOUNT_NAME=
ADLS_CONTAINER=landing

SQL_SERVER=fabric-retail-sql-dev.database.windows.net
SQL_DATABASE=orders_db
SQL_ADMIN_LOGIN=sqladmin

CHUNK_SIZE=1000
STAGE=dev
